In [2]:
from datascience import *

data1 = Table.read_table('../table2/hadoop.csv')
data2 = Table.read_table('../table2/hive.csv')
data3 = Table.read_table('../table2/spark.csv')
data4 = Table.read_table('../table2/高数监考表.csv')

def Inquire(path,name):
    a = path.where("姓名",name)
    date = a[2]
    time = a[3]
    classroom = a[4]
    subject =a[5]
    return [date,time,classroom,subject]

name = input("请输入要查询的姓名：")

hadoop = Inquire(data1,name)
spark = Inquire(data3,name)
hive = Inquire(data2,name)
math = Inquire(data4,name)

date_array = (hadoop[0],spark[0],hive[0],math[0])
time_array = (hadoop[1],spark[1],hive[1],math[1])
classroom_array = (hadoop[2],spark[2],hive[2],math[2])
subject_array = (hadoop[3],spark[3],hive[3],math[3])

table = Table().with_columns("日期",date_array,"时间",time_array,"考场",classroom_array,"科目",subject_array)
table

请输入要查询的姓名：胡胜

日期             | 时间              | 考场        | 科目
[]             | []              | []        | []
[]             | []              | []        | []
['2022/11/15'] | ['14:30-16:30'] | ['教一405'] | ['hive']
[]             | []              | []        | []

In [46]:
date_array

(array(['2022/11/14'],
       dtype='<U10'),
 array([],
       dtype='<U10'),
 array(['2022/11/15'],
       dtype='<U10'),
 array([],
       dtype='<U32'))

In [26]:
import pandas as pd
table1=pd.DataFrame(table)
# table1.dropna(axis=0,how="all")
table1

    0
0  日期
1  时间
2  考场
3  科目

In [3]:
a = data1.where("姓名","胡站瑜")
a

学号         | 姓名   | 日期         | 时间          | 教室    | 科目
2020145105 | 胡站瑜  | 2022/11/14 | 14:30-16:30 | 教一504 | hadoop

In [36]:
a = data3.where("姓名","胡站瑜")

datascience.tables.Table